{% extends 'layout.html' %}

{% block nav %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
        {% if flag %}
            <li class="breadcrumb-item active">编辑项目</li>

        {% else %}
            <li class="breadcrumb-item active">添加项目</li>

        {% endif %}
    </ol>
{% endblock %}


{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% for foo in form %}
            <div class="form-group">
                <div>
                    <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                    {{ foo }}
                </div>
                <span style="color: red;">{{ foo.errors.0 }}</span>
            </div>

        {% endfor %}

        <button type="submit" class="btn btn-success">提交</button>
    </form>

{% endblock %}