{% extends 'layout.html' %}


{% block nav %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
        <li class="breadcrumb-item active">批量导入用例</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card-body">
        <div class="alert alert-warning alert-dismissible" id="p1">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-ban"></i> 重要提示!</h5>
            <span id="error">
            这里只能上传Excel文件,
        Excel表格设计字段的时候，参考数据的字段设计，方便上传文件。
        </span>
        </div>


        <div class="form-group">
            <label for="exampleInputFile">文件上传</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ajaxFile">
                    <label class="custom-file-label" for="">请选择文件</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="ajaxBtn">Upload</span>
                </div>
            </div>
        </div>
        <span>{{ errors }}</span>
    </div>
{% endblock %}


{% block js %}

    <script>
        $("#ajaxBtn").click(function () {
            // 首先，实例化一个formdata对象
            var formData = new FormData();
            // 然后使用formdata的append来添加数据，即获取文件对象
            // var file_obj = $("#ajaxFile")[0].files[0];    // 使用jQuery获取文件对象
            var file_obj = document.getElementById('ajaxFile').files[0];   // 使用dom也行
            formData.append('f1', file_obj);

            $.ajax({
                url: "{% url 'upload' it_obj_pk%}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,   // 避免 JQuery 对请求头content_type进行操作
                success: function (res) {
                    console.log(res);
                    if (res['status'] == 500) {
                        $("#p1").attr("class", 'alert alert-danger alert-dismissible');
                        $("#error").text(res['errors'])
                    } else {
                        window.location.href = res['path']
                    }
                }
            })
        })
    </script>
{% endblock %}